### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

!/chatglm-sdk-java/target/
!/chatgpt-api/target/
!/chatgpt-sdk-java/target/

chatgpt-api/api.txt
chatgpt-data/chatgpt-data-app/src/main/resources/application-dev.yml
chatgpt-data/chatgpt-data-app/src/main/resources/application-prod.yml
chatgpt-data/chatgpt-data-app/src/main/resources/application-test.yml
chatgpt-sdk-java/src/test/java/top/codingshen/chatgpt/test/ClientTest.java
chatgpt-data/docs

